pre {
	color: #75C33C;
}

.flashy {
	color: lightslategray;
}

.moreforce {
	font-size: 2em;
	text-transform: uppercase;
}

.bordered {
	border: 6px dotted rebeccapurple;

}

.accent {
	color: lightseagreen;
}